<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="boost" version="1.85.0" targetFramework="native" />
  <package id="boost_atomic-vc141" version="1.85.0" targetFramework="native" />
  <package id="boost_chrono-vc141" version="1.85.0" targetFramework="native" />
  <package id="boost_thread-vc141" version="1.85.0" targetFramework="native" />
  <package id="clang-cmake" version="6.0.0.2" targetFramework="Native" />
  <package id="llvm-cmake" version="6.0.0.2" targetFramework="Native" />
  <package id="Python27" version="2.7.6" targetFramework="Native" />
  <package id="Python35" version="3.5.1.1" targetFramework="Native" />
  <package id="Python36" version="3.6.0" targetFramework="Native" />
  <package id="Python37" version="1.0.0.1" targetFramework="Native" />
  <package id="Python38" version="3.8.0" targetFramework="Native" />
  <package id="Python39" version="3.9.0" targetFramework="Native" />
</packages>